* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: beige;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: rgb(145, 247, 145);
  width: 400px;
  max-width: 90%;
  border-radius: 10px;

  text-align: center;
  padding: 5px;
}

img {
  border-radius: 50%;
}
#upperContainer {
  max-width: 100%;
}
#bottomContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  padding: 10px;
  width: 100%;
}

.icon-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.icon-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  transform: translateY(5px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.icon-wrapper:hover::after {
  transform: translateY(-5px);
  opacity: 1;
}

.icon-wrapper.active::after {
  transform: translateY(-5px);
  opacity: 1;
}

.icon-wrapper i {
  font-size: 30px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-wrapper:hover i {
  transform: translateY(-10px);
  color: red;
}

#bottomContainer i {
  padding: 4px;
}
button {
  font-weight: bold;
  font-size: 16px;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
}

@media screen and (max-width: 720px) {
  #bottomContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.active {
  color: red;
}
